.i-class {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #94a3b8
}

.form-style {
    border-radius: 8px;
    padding-right: 40px
}

.h3-card-style{
    font-weight: 700; color: #1e293b;
}

.search-style{
    position: relative; width: 300px;
}